<nav class="navbar sticky-top navbar-expand-md navbar-dark bg-dark p-2">
	<div class="container">
		<a class="navbar-brand" href="/">CampSpotter</a>
		<button
			class="navbar-toggler"
			type="button"
			data-bs-toggle="collapse"
			data-bs-target="#navbarNavAltMarkup"
			aria-controls="navbarNavAltMarkup"
			aria-expanded="false"
			aria-label="Toggle navigation"
		>
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
			<div class="navbar-nav">
				<a class="nav-link ms-2" href="/">Home</a>
				<a class="nav-link ms-2" href="/campgrounds">All Camps</a>
				<a class="nav-link ms-2" href="/campgrounds/new">New Camp</a>
			</div>
			<div class="navbar-nav ms-auto">
				<% if (!currentUser) { %>
				<a href="/login" class="nav-link me-2">Login</a>
				<a href="/register" class="nav-link me-2">Register</a>
				<% } else { %>
				<a href="/logout" class="nav-link me-2">Logout</a>
				<% } %>
			</div>
		</div>
	</div>
</nav>
