<% layout('layouts/boilerplate') %>
<form action="/campgrounds/<%= campground._id %>?_method=PUT" method="post">
	<h1 class="mb-3">Edit Campground</h1>
	<div class="mb-3">
		<label for="title" class="form-label">Name of Campground</label>
		<input
			class="form-control"
			type="text"
			name="campground[title]"
			id="title"
			value="<%= campground.title %>"
		/>
	</div>
	<div class="mb-3">
		<label for="location" class="form-label">Location</label>
		<input
			class="form-control"
			type="text"
			name="campground[location]"
			id="location"
			value="<%= campground.location %>"
		/>
	</div>
	<div class="mb-3">
		<button class="btn btn-primary">Update</button>
		<a
			href="/campgrounds/<%= campground._id %>"
			class="btn btn-outline-danger"
			role="button"
			>Cancel</a
		>
	</div>
</form>
