<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>New Campground</title>
	</head>
	<body>
		<form action="/campgrounds" method="post">
			<h1>New Campground</h1>
			<div>
				<label for="title">Name of Campground</label>
				<input type="text" name="campground[title]" id="title" />
			</div>
			<div>
				<label for="location">Location</label>
				<input type="text" name="campground[location]" id="location" />
			</div>
			<button>Add Campground</button>
		</form>
		<div><a href="/campgrounds">Back to All Campgrounds</a></div>
	</body>
</html>
