<% layout('layouts/boilerplate') %>
<form action="/campgrounds" method="post">
	<h1>New Campground</h1>
	<div>
		<label for="title">Name of Campground</label>
		<input type="text" name="campground[title]" id="title" />
	</div>
	<div>
		<label for="location">Location</label>
		<input type="text" name="campground[location]" id="location" />
	</div>
	<button>Add Campground</button>
</form>
<div><a href="/campgrounds">Back to All Campgrounds</a></div>
