<% layout('layouts/boilerplate') %>
<div class="mb-3">
	<a href="/campgrounds" class="btn btn-outline-secondary" role="button"
		>Back to Campgrounds</a
	>
</div>
<h1>Welcome to <%= campground.title %></h1>
<h2><%= campground.location %></h2>

<div class="mb-3">
	<form action="/campgrounds/<%= campground.id %>?_method=DELETE" method="post">
		<a
			href="/campgrounds/<%= campground._id %>/edit"
			class="btn btn-primary"
			role="button"
			>Edit</a
		>
		<button type="submit" class="btn btn-danger">Delete</button>
	</form>
</div>
<div></div>
