@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

.navbar-brand {
	font-family: 'Kaushan Script', cursive;
	font-size: 1.5rem;
}

#cluster-map {
	width: 100%;
	height: 500px;
}

#details-map {
	width: 100%;
	height: 300px;
}
